/*格式化样式 及通用样式*/
*{
	margin: 0;
	padding: 0;
	list-style: none;
}
img{
	vertical-align: middle;
}
a{
	text-decoration: none;
}
.container{
	min-width: 1300px;
}
.clear{
	clear: both;
}
.center-div{
	text-align: center;
}
.block{
	display: block;
}
/*头部样式开始*/
header{
	width: 100%;
	background:#352d2f;
}
nav{
	border-bottom: 2px solid ;
	border-color: #4a4244;
	height: 70px;
}
.logo{
	padding: 0 46px;
}
nav ul{
	display:inline-block;
}


nav li{
	display: inline-block;
	padding: 0 22px;
	color: #655e60;
	line-height: 70px;
}
nav li span{
	color: #655e60;
	padding: 26px 0;
	line-height: 70px;
}
nav li span:hover{
	color: #fff;
	border-bottom: 2px solid;
	border-color: #fff;
	cursor: pointer;
}
nav select{
	background-color: #655e60;
	border-color: #655e60;
	margin: 0 26px 0 132px;
}
img:last-child{
	padding-left: 22px;
	border-left: 1px solid #655e60;
}

.description{
	width: 100%;
	height: 1000px;
	margin-bottom: 60px;
}
.description>p{
	font-size: 74px;
	color: #fff;
	padding-bottom: 34px;
}
.description p:first-child{
	padding-top: 82px;
}
div>span{
	color: #fff;
}
.description>div{
	display: inline-block;
	width: 230px;
	margin-top: 134px;
	padding: 17px 22px;
	border:2px solid #fff;
}
.description ul{
	margin-top: 178px;
}
ul>span{
	margin-top: 14px;
	display: block;
	color: #c2c0c1;
}
/*头部样式结束*/
/*boder样式开始*/
/*第一部分*/
#boder{
	width: 100%;
	height: 1790px;
}

#boder .firstp{
	color: #000;
	font-size: 26px;
	padding: 0;
	margin-bottom: 24px;
}

.inline-div{
	display: inline-block;
	margin-top: 25px;
	margin-bottom: 60px;
}
.inline-div a {
	color: #fff;
	background-color: #f63c3c;
	padding:  25px 115px;
	}
/*第二部分*/
.half-wide-div{
	text-align: left;
	float: left;
	width: 50%;
	height: 960px;
	background-color: #f63c3c;
}
.half-wide-div section{
	padding-top: 570px;
	margin-left: 112px;
	font-size: 20px;
	color: #f97676;
}
.half-wide-div p:nth-child(2) {
	padding-top: 36px;
	padding-bottom: 40px;
	margin-left: 112px;
	font-size: 40px;
	color: #fff;
}
.half-wide-div p:nth-child(n+3) {
	padding-bottom: 10px;
	margin-left: 112px;
	font-size: 14px;
	color: #f97c7c;
}
.float-half-wide-div{
	float: right;
	width: 49.5%;
	height: 960px;
	background-color: #30282a;
}
.float-half-wide-div div{
	padding: 334px 0 48px 110px;
	border-bottom: 1px solid #555;
}
.float-half-wide-div p:nth-child(1){
	padding-bottom: 19px;
	padding-top: 0px;
	font-size: 40px;
	color:#fff;
}
.float-half-wide-div p:nth-child(2){
	font-size: 14px;
	color: #5b5456;
}
a.block{
	width: 100%;
	min-width: 1300px;
	background-color: #30282a;
	float: left;
}
a.block span{
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	line-height: 80px;
	padding-bottom: 10px;
	border-bottom: 4px solid #fff;
}
/*第三部分*/
.part{
	float: left;
	width: 500px;
	padding-left: 90px;
	padding-top: 80px;

}
.last-part{
	margin-right: 500px;
}
.title{
	padding: 0;
	font-size: 20px;
	font-weight: bold;
}
.content{
	color: #555;
	font-size: 12px;
}
.box-container div:nth-child(1){
	margin-left:90px; 
}
.box{
	width: 270px;
	height:196px;
	margin: 46px 10px 0 10px;
	background-color: #30282a;
	float: left;
}
.box img{
	position: relative;
	left: 108px;
	top:58px;
}
.box span{
	position: relative;
	left: 30px;
	top:98px;
}
/*boder结束footer样式开始*/
.first-part{
	width: 100%
	min-width:1300;
	height: 600px;
	margin-top: 54px;
	background-color: #30282a;
}
.first-part div{
	position: relative;
	left: 390px;
	top: 156px;
	width: 570px;
	background-color: #f63c3c;
}
.first-part div img{
	padding-top: 60px;
	padding-bottom: 24px;
}
.first-part  p:nth-child(2){
	font-size: 12px;
	padding-bottom: 24px;
	color: #fff;
}
.first-part  p:nth-child(3){
	font-size: 22px;
	color: #fff;
	padding-bottom: 68px;
}
.second-part{
	padding-left: 60px;
	padding-top: 58px;
}
.second-part div{
	float: left;
	margin: 0 10px;
	width: 30%;
	min-width: 400px;
}
.second-part  .first-p{
	margin-bottom:44px ;
	padding-bottom: 20px;
	font-size: 20px;
	font-weight: bold;
	border-bottom: 2px solid #30282a;
}
.second-part  p:nth-child(n+2),.special{
	font-size: 10px;
}
.second-col{
	position: relative;
	padding: 0;
	margin:0;
	top: -56px;
	left:220px; 
}
.third-part{
	padding-top: 24px;
	border-top: 2px solid #e5e5e5;
	font-size:10px; 
}
.third-part p:first-child{
	padding-left: 60px;
	float: left;
}
.third-part>p:before{
	vertical-align: middle;
	content: url(../imge/icon9.png);
}
.third-part div{
	float: right;
	padding-right: 42px;
}
