/*格式化样式 及通用样式*/
*{
	margin: 0;
	padding: 0;
	font-family: Verdana;
	list-style: none;
}
img{
	vertical-align: middle;
}
a{
	text-decoration: none;
}
div>span{
	color: #fff;
}
header,.main,footer.wrapper{
	min-width: 1200px;
	max-width: 1366px;
}
.clear{
	clear: both;
}
.center-div{
	text-align: center;
}
.block{
	display: block;
}
/*head*/
header{
	width: 100%;
	background:#352d2f;
}
nav{
	height: 70px;
	border-bottom: 2px solid ;
	border-color: #4a4244;
}
nav dl{
	display: inline-block;
}
.logo{
	padding: 0 46px;
}
nav dt{
	display: inline-block;
	padding: 0 22px;
	line-height: 70px;
	color: #655e60;
}
nav dt span{
	padding: 26px 0;
	line-height: 70px;
	color: #655e60;
}
nav dt span:hover{
	color: #fff;
	border-bottom: 2px solid;
	border-color: #fff;
	cursor: pointer;
}
nav select{
	margin: 0 26px 0 132px;
	background-color: #655e60;
	border-color: #655e60;
}
img:last-child{
	padding-left: 22px;
	border-left: 1px solid #655e60;
}

.content{
	width: 100%;
	height: 1000px;
	margin-bottom: 60px;
}
.content>p{
	width: 924px;
	margin: auto;
	padding: 82px 0 34px;
	font-size: 74px;
	color: #fff;
}
.content>div{
	display: inline-block;
	margin-top: 134px;
	padding: 17px 22px;
	width: 230px;
	border:2px solid #fff;
}
.content ul{
	margin-top: 178px;
}
ul>span{
	display: block;
	margin-top: 14px;
	color: #c2c0c1;
}
/*End Head*/
/*Main*/
/*first part*/
.main{
	width: 100%;
	height: 1790px;
}

.service{
	width: 772px;
	margin: 0 auto 24px auto;
	font-size: 26px;
	color: #000;
}

.explore-more{
	display: inline-block;
	margin: 25px 0 60px;
}
.explore-more a {
	padding:  25px 115px;
	color: #fff;
	background-color: #f63c3c;
	}
/*second part*/
.project1{
	float: left;
	width: 50%;
	height: 960px;
	text-align: left;
	background-color: #f63c3c;
}
.project1 h1{
	padding-top: 570px;
	margin-left: 112px;
	font: normal 20px Verdana;
	color: #f97676;
}
.project1 p:nth-child(2) {
	padding: 36px 0 40px;
	margin-left: 112px;
	font-size: 40px;
	color: #fff;
}
.project1 p:nth-child(3) {
	width: 500px;
	margin: auto;
	padding: 0 0 10px 58px;
	font-size: 14px;
	color: #f97c7c;
}
.project2{
	float: right;
	width: 49.5%;
	height: 960px;
	background-color: #30282a;
}
.project2 div{
	padding: 334px 0 48px 110px;
	border-bottom: 1px solid #555;
}
.project2 h1{
	padding-bottom: 19px;
	font-size: 40px;
	color:#fff;
}
.project2 p{
	font-size: 14px;
	color: #5b5456;
}
.block{
	float: left;
	width: 100%;
	min-width: 1300px;
	background-color: #30282a;
}
.block span{
	padding-bottom: 10px;
	font-size: 14px;
	font-weight: bold;
	line-height: 80px;
	color: #fff;
	border-bottom: 4px solid #fff;
}
/*third part*/
.summary{
	float: left;
	width: 500px;
	padding-left: 90px;
	padding-top: 80px;

}
.join-us{
	margin-right: 500px;
}
.title{
	font-size: 20px;
	font-weight: bold;
}
.title+p{
	font-size: 12px;
	color: #555;
}
.connect-us div:nth-child(1){
	margin-left:90px; 
}
.friend-link{
	float: left;
	width: 270px;
	height:196px;
	margin: 46px 10px 0 10px;
	background-color: #30282a;
}
.friend-link img{
	position: relative;
	left: 108px;
	top:58px;
}
.friend-link span{
	position: relative;
	left: 30px;
	top:98px;
}
/*End Main*/
/*Footer*/
.location{
	width: 100%
	min-width:1300;
	height: 600px;
	margin-top: 54px;
	background-color: #30282a;
}
.location div{
	position: relative;
	left: 390px;
	top: 156px;
	width: 570px;
	background-color: #f63c3c;
}
.location div img{
	padding: 60px 0 24px;
}
.location  p{
	padding-bottom: 24px;
	font-size: 12px;
	color: #fff;
}
.location  h2{
	padding-bottom: 68px;
	font-size: 22px;
	font-weight: normal;
	color: #fff;
}
.about-us{
	padding: 58px 0 0 58px;
}
.about-us div{
	float: left;
	margin: 0 10px;
	width: 30%;
	min-width: 400px;
}
.about-us  h1{
	margin-bottom:44px ;
	padding-bottom: 20px;
	font-size: 20px;
	border-bottom: 2px solid #30282a;
}
.about-us  p:nth-child(n+2),.second-col p:first-child{
	font-size: 10px;
}
.second-col{
	position: relative;
	top: -56px;
	left:220px; 
}
.copyright{
	padding-top: 24px;
	border-top: 2px solid #e5e5e5;
	font-size:10px; 
}
.copyright p:first-child{
	float: left;
	padding-left: 60px;
}

.copyright div{
	float: right;
	padding-right: 42px;
}
