/*格式化样式 及通用样式*/
*{
	margin: 0;
	padding: 0;
	font-family: Verdana;
}
img{
	vertical-align: middle;
}
a{
	text-decoration: none;
}
header,.main,footer{
	width: 100%;
	min-width: 1360px;
	max-width: 1600px;
}
.clear{
	clear: both;
}
.center-div{
	text-align: center;
}
.block{
	display: block;
}
.inline-block{
	display: inline-block;
}

/*Head*/
nav{
	padding-left: 48px;
}
nav div{
	float: right;
	padding: 40px 204px 0 0;
}
nav div p{
	padding-bottom: 34px;
	font-size: 10px;
}
nav div a{
	padding: 15px 30px;
	color: #000;
	background-color: #ffe13e;
}
nav div span{
	padding: 15px 0 15px 36px;
	font:bold 20px Verdana;
	border-left: 1px solid #babbc4;
}
dl.inline-block {
	padding: 68px 0;
	border-right: 1px solid #ebebeb;
}
dl.inline-block dt{
	display: inline-block;
	padding: 0 22px;
	font-size: 12px;
	color: #202242;
}
dl.inline-block dt:hover{
	color: #ffe352;
}
.search{
	height: 792px;
	text-align: center;
	background-image: url(../imge/demo2_background_img.png);
	background-repeat: no-repeat;
}
.search h1{
	padding-top: 234px;
	font: bold 36px Verdana;
	color: #fff;
}
.search p{
	padding-top:42px;
	font-size: 16px;
	color: #fff;
}
.search img{
	height: 110px;
	width: 110px;
	margin:auto;
	padding:60px 0;
	-ms-transform:rotate(12deg); 	/* IE 9 */
	-moz-transform:rotate(12deg); 	/* Firefox */
	-webkit-transform:rotate(12deg); /* Safari 和 Chrome */
	-o-transform:rotate(12deg);
}
.search div{
	display: inline-block;
	width: 442px;
	font-size: 0;
    box-shadow: 0 0 0 18px rgba(255, 255, 255, .4);
}
.search div input{
	width: 268px;
	height: 56px;
	font-size: 14px;
	border:none;
}
.search div select,.search div a{
	padding: 20px 0;
	font: bold 10px Verdana;
	border:none;
	background-color: #ffe13e;
}
.search div a{
	padding: 21px 0;
	color: #fff;
}
/*End Head*/
/*Content*/
.main div img{
	padding-top: 114px;
}
.service{
	float: left;
	width: 50%;
	min-width:650px;
	height: 654px;
	text-align: center;
}
.service h2{
	padding-top: 56px;
	font: bold 26px Verdana;
	color: #fff;
}
.service div{
	display: inline-block;
	width: 420px;
}
.service p{
	font-size: 14px;
	color: #fff;
}
.service a{
	display: block;
	width: 150px;
	padding: 17px 0;
	margin: 34px 0 0 266px;
	font: bold 14px Verdana;
	color: #fff;
	border:1px solid #fff;
}
.service h1{
	padding-top: 200px;
	font: bold 70px Verdana;
}
.left-service{
	background-color: #202242;
}
.right-service{
	background-color: #ffe13e;
}
.features{
	float: left;
	width: 100%;
	min-width: 1300px;
	text-align: center;
	background-image: url(../imge/demo2_background_img2.png);
	background-repeat: no-repeat;
	background-position: center;
}
.title{
	padding-top: 94px;
}
.container{
	margin-left: 70px;
}
.column{
	float: left;
	padding: 0 55px;
	width: 200px;
}
.column img{
	padding-bottom: 34px;
	border-bottom: 2px solid #8d8d99;
}
.column h2{
	padding: 30px 0;
	font-size: 20px;
	color: #f4d320;
}
.column p{
	padding-bottom: 124px;
	font-size: 12px;
}
/*End main */
/*Footer*/
.about-us{
	float: left;
	width: 200px;
	padding: 86px 0 0 110px;
}
.about-us h1{
	padding-bottom: 26px;
	font-size: 25px;
}
.about-us p{
	font-size: 12px;
}
.about-us+img{
	padding: 98px 0 0 74px;
}
.summary{
	margin-left: 114px;
}
.column2{
	display: inline-block;
	float: left;
	width: 282px;
	margin: 80px 0 112px;
	background-color: #faf9f9;
}
.column2 p{
	padding: 30px 0;
	font-size: 10px;
}
.column2 h2{
	font-size: 14px;
}
.column2+img{
	float: left;
	position: relative;
	right: 120px;
	top: 184px;
}
.banner{
	background-color: #202242;
}
.banner div{
	padding: 100px 0 110px 210px;
}
.banner h1{
	font: bold 26px Verdana;
	color: #fff;
}
.banner p{
	padding-top: 20px;
	font-size: 14px;
	color: #5f6074;
}
.banner a{
	position: relative;
	top:-152px;
	left: 784px;
	padding: 33px 50px;
	font: bold 14px Verdana;
	color: #000;
	border:4px solid #fff;
	background-color: #ffe13e;
}
.footer-fourth-part{
	font-size: 14px;
	color: #fff;
	background-color: #363855;
}
.map{
	padding:94px 0 62px 96px;
}
.location{
	position: relative;
	right: 210px;
	top: 90px;
	font-weight: bold;
}
.location:before{
	content: url(../imge/demo2_icon9.png);
}
.subnav{
	float: right;
}
.subnav p{
	font-weight: bold;
	padding: 144px 0 38px;
}
.subnav dt{
	width: 66px;
	padding-bottom: 10px;
	text-align: right;
	border-bottom: 1px solid #565870;
	cursor: pointer;
}
.subnav img{
	position: relative;
	right: 20px;
	padding:44px 0;
}
.subnav a{
	position: relative;
	top: 34px;
	right: 98px;
	font-size: 10px;
	color: #fff;
}
.copyright{
	margin-left: 560px;
}
.copyright img{
	padding: 0 0 14px 120px;
}
.copyright p{
	padding-bottom: 72px;
}

